<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${airplane.id == null ? 'Neues Flugzeug' : 'Flugzeug bearbeiten'}"></title>
</head>
<body>

<h1 th:text="${airplane.id == null ? 'Neues Flugzeug' : 'Flugzeug bearbeiten'}"></h1>

<form th:action="@{/airplanes/save}" th:object="${airplane}" method="post">

    <!-- Hidden ID (doar pentru editare) -->
    <input type="hidden" th:field="*{id}"/>

    <!-- NUMBER -->
    <label>Flugzeugnummer:</label><br>
    <input type="number" th:field="*{number}" />
    <br>

    <!-- Error message -->
    <div th:if="${#fields.hasErrors('number')}"
         th:errors="*{number}"
         style="color:red"></div>

    <br>

    <button type="submit">Speichern</button>
    <a th:href="@{/airplanes}">Zurück</a>

</form>

</body>
</html>