<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Airline Employee</title>
</head>
<body>
<h1>New Airline Employee</h1>

<form action="/airline-employees" method="post" th:object="${employee}">
    <p>
        <label>Name:</label>
        <input th:field="*{name}" required />
    </p>

    <p>
        <label>Role:</label>
        <input th:field="*{role}" required />
    </p>

    <p>
        <label>License Number:</label>
        <input th:field="*{licenseNumber}" />
    </p>

    <p>
        <label>Work Start:</label>
        <input th:field="*{workStart}" type="date" />
    </p>


    <p>
        <button type="submit">Create</button>
        <a href="/airline-employees">Cancel</a>
    </p>
</form>

</body>
</html>