<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Issue Ticket</title></head>
<body>
<h1>Issue Ticket</h1>

<form action="/tickets" method="post">
    <p>
        <label>PassengerId: <input name="passengerId" type="number" required/></label>
    </p>
    <p>
        <label>FlightId: <input name="flightId" type="number" required/></label>
    </p>
    <p>
        <label>Seat: <input name="seatNumber" required/></label>
    </p>
    <p>
        <label>Price: <input name="price" type="number" step="0.01" required/></label>
    </p>
    <p>
        <button type="submit">Create</button>
        <a href="/tickets">Cancel</a>
    </p>
</form>
</body>
</html>